*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fas{
  color: #fff;
}
.fab{
  color: #fff;
}
.body{
  display: block;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 10px;
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin: 10px;
}
nav ul li a i {
  margin-right: 5px;
  }
a{
  text-decoration: none;
  color: #fff;
  font-family: arial;
  font-size: medium;
  margin-right: 10px;
}
a:hover{
  color: #ff0;
}

/* Media query for screens less than 650px */
@media (max-width: 650px) {
  .item-name {
    display: none;
  }
  .fas{
    display: flex;
    color: #fff;
    width: 20px;
    padding: 10px;
  }
  .fab{
    display: flex;
    color: #fff;
    padding: 10px;
    width: 20px;
  }
}


.header hr{
  border: none;
  background-color: #fff;
  height: 5px;
  margin-top: 55px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 0px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 50px;
  margin: 25px 30px;
  text-align: center;
}
.col-2 p{
  font-size: 30px;
  margin: 25px;
  text-align: center;
}
.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 20px;
  border-radius: 30px;
  transition: 0,5s;
}
.btn:hover{
  background: #deb887;
  color: #fff;
}
.header{
  background: radial-gradient(#fff,#000);
}
.header .row{
  margin-top: 70px 0;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-3 img{
  max-width: 150px;
  width: 100%;
  margin: 10px;
  align-items: center;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.col-4:hover{
  transform: translateY(-10px);
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: ' ';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contact-text{
  text-align: center;
}
/*-------testimonial-------*/
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  transition: transform 0.5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.fa{
  font-size: 14px;
  color: #a437dbff;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3{
  font-weight: 600px;
  color: #555;
  font-size: 16px;
}
.advert{
  background: radial-gradient(#fff, #5b6109ff);
  margin-top: 80px;
  padding: 30px;
}
.advert .btn{
  margin: 40px;
}
.col-2 .advert-img{
  padding: 50px;
}
.col-3b{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-3b img{
  max-width: 150px;
  width: 100%;
  margin: 10px;
  align-items: center;
}
.btn-moreno{
  display: inline-block;
  background: rgb(54, 58, 0);
  color: #fff;
  padding: 8px 30px;
  margin: 30px 20px;
  border-radius: 30px;
  transition: 0,5s;
}
.btn-moreno:hover{
  background: #5b6109ff;
  color: #fff;
}
.brands{
  margin: 100px auto;
}
.col-5{
  width: 100px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
}
.advert-2{
  background:#bb3636;
  margin-top: 80px;
  padding: 30px;
}
.col-2 .advert-2-img{
  padding: 50px;
}
.btn-2{
  display: inline-block;
  background: #a437dbff;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 20px;
  border-radius: 30px;
  transition: 0,5s;
}
.btn-2:hover{
  background: #5b6109ff;
  color: #fff;
}
.Contacts{
  padding-top: 100px;
}
.Contacts .col-3{
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  transition: transform 0.5s;
}
.Contacts .col-3 img{
  width: 30px;
  margin-top: 20px;
  border-radius: 50%;
}
.Contacts .col-3 h3{
  color: #555;
  font-size: 16px;
}
.btn-3 {
  margin-top: 90px;
  margin-right: 30px;
  margin-left: 30px;
  display: inline-block;
  padding: 50px 60px;
  width: 90%;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  animation: flashColors 1s infinite;
}

@keyframes flashColors {
  0% {
    background-color: #a437dbff;
    color: #fff;
  }
  20% {
    background-color: #ff0000;
    color: #fff;
  }
  40% {
    background-color: #ffd900;
    color: #fff;
  }
  60% {
    background-color: #00ffea;
    color: #fff;
  }
  80% {
    background-color: #ff00d4;
    color: #fff;
  }
  100% {
    background-color: #00ff00;
    color: #fff;
  }
}

.btn-3:hover {
  background: #000;
  color: #fff;
  animation: none; /* Stop the animation on hover */
}
.cancelled {
  text-decoration: line-through;
  font-size: smaller;
  color: #a437dbff;
}


/*----------footer----------*/

.footer{
  background: #ffb1a6;
  color: #000000;
  font-size: 14px;
  padding: 60px 0 20px;
  margin-top: 80px;
  align-items: center;
}
.footer .row{
  margin-top: 70px 0;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  text-align: center;
}
.footer p{
  color:#000000;
}
.footer h3{
  color: #000000;
  margin-bottom: 20px;
  align-content: center;
  text-align: center;
}
.footer-col-2{
  min-width: 0px;
  margin-bottom: 5px;
  align-content: center;
  display: inline-block;
}
.footer-col-3{
  min-width: 0px;
  margin-bottom: 5px;
  align-content: center;
  display: inline-block;
}
.footer-col-1 img{
  flex-basis: 12%;
}
.footer-col-1 h3{
  display: inline;
  color: #000000;
  text-align: center;
}
.social-media{
  margin-top: 30px;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #000000;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 20px;
  margin-left: 20px;
  display: none;
}
/*----------single product details----------*/

.single-product{
  margin-top: 20px;
}
.single-product .col-2 img{
  padding: 20px;
}
.single-product h4{
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product h3 .p{
  margin: 10px 10px;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
}
.single-product .btn .fa{
  color: #a437dbff;
  margin-left: 10px;
}
